<div class="container mt-1">
    <div class="row">
        <div class="col-12 d-flex justify-content-start align-items-center">
            <div class="hamburger-menu" (click)="navigationService.toggleSearchPanel()">
              <i class="{{navigationService.toogleClass}} fs-4" ></i>
            </div>
            <h5 class="ms-2 mt-3">Categorias de Productos</h5>
        </div>
    </div>
  
      <div class="row">
        <div class="col-12 col-md-4 search-panel" [class.d-none]="navigationService.isSearchPanelHidden">
              <div class="card">
                <div class="card-body">
                    <h6 class="card-title">Filtar</h6>
                    <div class="input-group mb-1">
                      <input type="text" class="form-control" [(ngModel)]="navigationService.searchItem" placeholder="Buscar...">
                      <div class="input-group-append">
                        <button class="btn close-btn" type="button" (click)="navigationService.searchItem = ''; filter()">
                          &times;
                        </button>
                        <button class="btn btn-outline-secondary" type="button" (click)="filter()">
                          Filtrar
                        </button>
                      </div>
                    </div>
                    <ul class="list-group mt-3">
                      <li *ngFor="let c of categoryList" class="list-group-item list-group-item-action" 
                            [ngClass]="{'text-primary': this.selectedItem?.categoryId == c.categoryId}"
                            (click)="selectItem(c.categoryId)">
                          {{ c.name }}
                      </li>
                    </ul>
                </div>
              </div>
          </div>
          <div class="col-12" [class.col-md-8]="!navigationService.isSearchPanelHidden" [class.col-md-12]="navigationService.isSearchPanelHidden">
              <div class="card">
                  <div class="card-body">
                      <h6 class="card-title">Detalles de la Categoria</h6>
                      <div class="user-edit-container">
                          <form [formGroup]="cForm" (ngSubmit)="save()">
                              <div class="form-group mb-2">
                                <label for="firstName">Nombre</label>
                                <input id="firstName" formControlName="name" type="text" class="form-control required-input"/>
                                <div *ngIf="cForm.get('name')?.invalid && cForm.get('name')?.touched" class="invalid-feedback">
                                  Nombre es obligatorio.
                                </div>
                              </div>
                            
                              <div class="form-group mb-2">
                                <label for="description">Descripción</label>
                                <input id="description" formControlName="description" type="text" class="form-control"/>
                              </div>  

                              <div class="d-flex justify-content-end my-3">
                                <button [disabled]="!this.selectedItem" type="button" class="btn btn-danger mx-2" (click)="deleteRecord()">Eliminar</button>
                                <button type="button" class="btn btn-primary mx-2 btn-floating-secondary" (click)="newRecord()">Nuevo</button>
                                <button type="submit" [disabled]="cForm.invalid" class="btn btn-success btn-floating">Guardar Categoria</button>
                            </div>    
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  