<div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>C. Barras</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Precio</th>
          <th>Cantidad</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of ventaService.saleProductsGrouped">
          <td>{{ producto.barcode }}</td>
          <td>{{ producto.name }}</td>
          <td>{{ producto.description }}</td>
          <td>{{ producto.unitPrice | currency }}</td>
          <td>{{ producto.count }}</td>
          <td>{{ producto.total | currency }}</td>
          <td>
            <button class="btn btn-danger" (click)="removeProduct(producto.productId)">
                <i class="fas fa-trash-alt"></i>
            </button>
        </td>
        </tr>
      </tbody>
    </table>
    <div class="mt-3">
      <h4>Total de la Venta: {{ ventaService.getTotalVenta() | currency }}</h4>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
        <div [class]="messageClass" [hidden]="isHidden">
            {{ message }}
        </div>
        <div class="container-fluid">
          <div class="row">
              <div class="col-12 col-md-3 mb-2"> <!-- Colocamos mb-2 para margin-bottom en dispositivos móviles y desktop -->
                  Método de pago
                  <select [(ngModel)]="metodoPago" class="form-control">
                      <option value="Efectivo">Efectivo</option>
                      <option value="Tarjeta">Tarjeta</option>
                      <option value="Transferencia">Transferencia</option>
                  </select>
              </div>
              <div class="col-12 col-md-9 mb-2"> <!-- Usa todo el ancho en móviles y la mitad en pantallas medianas y grandes -->
                  <textarea class="form-control form-control-md" placeholder="Notas de la venta - (Añadir notas aquí)" [(ngModel)]="notaVenta"></textarea>
              </div>
          </div>
      </div>
      
        <div class="d-flex justify-content-between align-items-center">
          <button class="btn btn-success" [disabled]="this.canFinishSale()" (click)="finalizarVenta()">
              <i class="bi bi-cart-check"></i> Finalizar Venta
          </button>
          <button class="btn btn-danger" (click)="resetListaVenta()">
              <i class="bi bi-arrow-counterclockwise"></i> Reiniciar Venta
          </button>
        </div>
         
    </div>
</div>

<!-- Contenedor del ticket -->
<div *ngIf="ticketVisible" class="d-flex align-items-center justify-content-center position-fixed w-100 h-100 bg-dark bg-opacity-50 top-0 start-0">
  <div class="card text-center w-75 w-md-50">
    <div class="card-header bg-light">
      <img src="../../assets/icons/logos/logo_192x192.png" alt="Guardian_Logo" class="img-fluid mb-2" style="max-width: 50px;">
      <h5 class="card-title mb-1">{{ this.getUserState().companyName}}</h5>
      <p class="card-subtitle text-muted">{{ this.numVenta + ' | Fecha:' + fechaHora }}</p>
    </div> 
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <span>ID</span>
        <span>Nombre</span>
        <span>Cantidad</span>
        <span>Total</span>
      </div>
      <div *ngFor="let item of ventaService.saleProductsGrouped" class="d-flex justify-content-between">
        <span>{{ item.barcode }}</span>
        <span>{{ item.name }}</span>
        <span>{{ item.count }}</span>
        <span>{{ item.total | currency }}</span>
      </div>
      <hr>
      <div class="d-flex justify-content-end mt-2">
        <strong>Total:</strong> <span>{{  ventaService.getTotalVenta() | currency }}</span>
      </div>
      <div class="d-flex justify-content-start mt-2">
        Cajero:&nbsp;<strong><span>{{this.getUserState().firstName + ' ' + this.getUserState().lastName }}</span></strong>
      </div>
    </div>
    <div class="card-footer bg-light">
      <p class="mb-0">¡Gracias por su compra!</p>
    </div>
  </div>
</div>


  