<div class="card">
    <div class="card-body">
        <h5>Punto de Venta - Captura o escanea el código del producto</h5>

        <form [formGroup]="formVenta" (ngSubmit)="addProductToSaleList()" class="d-flex flex-column">
            <div class="mb-2 mt-4">
                
                <label class="form-label">
                    Código del producto  <i class="bi bi-upc-scan fs-6"></i>
                </label>
                <input type="text" formControlName="codigo" class="form-control" placeholder="Ingresa el código de barras">
               
            </div>
            <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-warning"  [disabled]="formVenta.invalid">
                    Agregar a la venta
                </button>
                
            </div>
        </form>      
        <div [class]="messageClass" [hidden]="isHidden" style="position: absolute; top:0; left: 0; width: 100%; z-index: 10;">
            {{ label_productoAdded }}
        </div>
    </div>
</div>

<app-lista-venta></app-lista-venta>

<div *ngIf="this.isScannerEnabled" class="modal d-flex justify-content-center align-items-center show" tabindex="-1" style="display: block; background: rgba(0, 0, 0, 0.5);">
    <div class="modal-dialog w-75 w-md-50 w-lg-50">
        <div class="modal-content">
            <div class="modal-body p-0">
            <zxing-scanner [formats]="allowedFormats" 
                [enable]="isScannerEnabled"
                [videoConstraints]="videoConstraints"
                (scanSuccess)="onCodeResult($event)">
            </zxing-scanner>
            </div>
        <button type="button" class="btn btn-primary" (click)="setScannerStatus()">
            {{scannerBtnLabel}}
        </button>
        </div>
    </div>
</div>


