<!-- login.component.html -->
<div class="form-container">
  <h3 class="title">Login</h3>
  <p class="message">Introduce tus credenciales para continuar</p>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form">
    <div class="form-group">
      <label for="username" class="form-label">Usuario</label>
      <input
        type="text"
        id="username"
        formControlName="username"
        class="input"
        placeholder="Nombre de usuario"
      />
      <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched" class="error-msg">
        El nombre de usuario es requerido
      </div>
    </div>

    <div class="form-group">
      <label for="token" class="form-label">Contraseña</label>
      <input
        type="password"
        id="token"
        formControlName="token"
        class="input"
        placeholder="Contraseña"
      />
      <div *ngIf="loginForm.get('token')?.invalid && loginForm.get('token')?.touched" class="error-msg">
        La contraseña es requerida
      </div>
    </div>

    <button type="submit" class="submit" [disabled]="loginForm.invalid">
      Entrar
      <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    </button>
  </form>

<div class="bottom-section">
  <span>¿No tienes una cuenta?</span>
  <a class="register-link" (click)="iraRegisterComponent(); $event.preventDefault()" href="#">Regístrate</a>
</div>


</div>
