.console {
    background-color: rgb(230, 237, 239);
    color: rgb(239, 68, 68);
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    height: 120px;
    overflow-y: auto;
    white-space: pre-line;
  }