<div class="container-fluid mt-1">
    <div class="row">
        <div class="col-12 d-flex justify-content-start align-items-center">
            <div class="hamburger-menu" (click)="navigationService.toggleSearchPanel()">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <h5 class="ms-2 mt-3">Empresas</h5>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12 col-md-4 search-panel" [class.d-none]="navigationService.isSearchPanelHidden">
            <div class="card">
            <div class="card-body">
                <h6 class="card-title">Filtar</h6>
                <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Escribe el nombre aqui..." (input)="searchCompany($event)">
                
                </div>
                <ul class="list-group mt-3">
                <li *ngFor="let c of companyList" class="list-group-item list-group-item-action" (click)="selectCompany(c.companyId)">
                    {{ c.name }}
                </li>
                </ul>
            </div>
            </div>
        </div>
        <div class="col-12" [class.col-md-8]="!navigationService.isSearchPanelHidden" [class.col-md-12]="navigationService.isSearchPanelHidden">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">{{ selectedCompany == null ? "Selecciona una empresa ó crea una nueva, da click en Detalles." : selectedCompany.name }}</h6>
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" [class.active]="activeTab === 'tabDetalles'" (click)="setActiveTab('tabDetalles')">Detalles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [class.active]="activeTab === 'tabPagos'" (click)="setActiveTab('tabPagos')">Pagos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [class.active]="activeTab === 'tab3'" (click)="setActiveTab('tab3')">Tab 3</a>
                        </li>
                    </ul>
                    <div class="tab-content mt-3">
                        <div class="tab-pane" [class.active]="activeTab === 'tabDetalles'" id="tabDetalles">
                            <form [formGroup]="companyForm" (ngSubmit)="saveCompany()">
                                <div class="form-row"> 
                                    <div class="form-group">
                                       
                                            <label for="userName">Nombre de la empresa</label>
                                            <input id="name" class="form-control" formControlName="name" placeholder="Empresa">
                                            <div *ngIf="companyForm.get('name')?.invalid && companyForm.get('name')?.touched" class="invalid-feedback">
                                                Nombre de la empresa es obligatorio.
                                            </div>
                                        
                                    </div>
                                
                                    <div class="form-group col-md-12 d-flex">
                                        <div class="col-md-8 mb-2 pr-2">
                                            <label for="userName">Estatus <i class="bi bi-power"></i></label>
                                            <label class="form-control opacity-50 fw-bold">{{companyForm.get('statusDesc')?.value}}</label>
                                        </div>
                                        <div class="d-flex justify-content-end mx-2 my-4" *ngIf="this.userState.roleId > rol.Admin">
                                            <button type="button" class="btn btn-danger ">Desactivar</button>
                                        </div>    
                                    </div>
                                    <div class="form-group col-md-12 d-flex">
                                        <div class="col-md-8 mb-2 pr-2">
                                            <label for="userName">Expiración de la subscripción</label>
                                            <label class="form-control opacity-50 fw-bold">{{companyForm.get('expirationDateUI')?.value}}</label>
                                        </div>
                                    </div>
                                    <div class="form-group mb-2">
                                        <label for="address">Dirección</label>
                                        <textarea id="address" class="form-control" formControlName="address" placeholder="Dirección"></textarea>
                                        <div *ngIf="companyForm.get('address')?.invalid && companyForm.get('address')?.touched" class="invalid-feedback">
                                            La dirección es obligatoria.
                                        </div>
                                    </div>    
                                    <div class="form-group col-md-12 d-flex">
                                        <div class="col-md-8 mb-2 pr-2">
                                            <label for="telNumber">Teléfono</label>
                                            <input id="telNumber" class="form-control" formControlName="telNumber" placeholder="Teléfono" maxlength="10">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12 d-flex">
                                        <div class="col-md-8 mb-2 pr-2">
                                            <label for="celNumber">Celular</label>
                                            <input id="celNumber" class="form-control" formControlName="celNumber" placeholder="Celular" maxlength="10">
                                        </div>
                                    </div>

                                    <div class="form-group col-md-12 d-flex">
                                        <div class="col-md-8 mb-2 pr-2">
                                            <label for="email">E-mail</label>
                                            <input id="email" class="form-control" formControlName="email" placeholder="E-mail" maxlength="50">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                            <label for="ownerInfo">Información general del representante</label>
                                            <textarea id="ownerInfo" class="form-control" formControlName="ownerInfo" placeholder="Representante" maxlength="500"></textarea>
                                  
                                    </div>

                                    <div class="form-group col-md-12 d-flex">
                                        <div class="col-md-8 mb-2 pr-2">
                                            <label for="userName">Fecha de creación</label>
                                            <label class="form-control opacity-50 fw-bold">{{companyForm.get('creationDateUI')?.value}}</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12 d-flex">
                                        <div class="col-md-8 mb-2 pr-2">
                                            <label for="userName">Creado por el usuario</label>
                                            <label class="form-control opacity-50 fw-bold">{{companyForm.get('createdByUserName')?.value}}</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12 d-flex">
                                        <div class="col-md-8 mb-2 pr-2">
                                            <label for="userName">Actualizado por el usuario</label>
                                            <label class="form-control opacity-50 fw-bold">{{companyForm.get('lastUpdateByUserName')?.value}}</label>
                                        </div>
                                    </div>
                                
                                
                                    <div class="d-flex justify-content-end my-3" *ngIf="this.userState.roleId > rol.User">
                                        <button type="button" class="btn btn-primary mx-2 btn-floating-secondary" *ngIf="this.userState.roleId > rol.Admin"
                                            (click)="newCompany()">Nuevo</button>
                                        <button type="submit" class="btn btn-success btn-floating">Guardar</button>
                                    </div>    
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane" [class.active]="activeTab === 'tabPagos'" id="tabPagos">
                            <!-- Sección 1: Información general y lista -->
                            <div class=" container mb-4 rounded">
                                <div class="rounded bg-section1 text-white Row">
                                    <div class="p-3 mb-2 bg-title text-white">Plan activo: <span>{{ this.selectedCompany?.planIdUI }}</span></div>
                                    <div class="row">
                                        <!-- Primer Div: Lista de opciones -->
                                        <div class="col-6">
                                            
                                            <div class="ms-3"> * Hasta dos cuentas.</div>
                                            <div class="ms-3"> * Reduce la renta con Referidos.</div>
                                           
                                        </div>
                                        <!-- Segundo Div: Información de pagos -->
                                        <div class="col-6 mb-3">
                                            <div class="mb-3">Pago</div>
                                            <div class="mb-1">Tu próxima factura será de {{this.selectedCompany?.planPrice | currency}} y llegará el {{this.selectedCompany?.expirationDate | date:'mediumDate'}}</div>
                                            <div class="mb-3">Contacta a tu vendedor: {{this.selectedCompany?.createdByUserName}}</div>
                                            
                                            <button class="btn btn-primary" [disabled]="mostrarSeccion2" (click)="mostrarSeccion2 = true">Agregar Pago</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Sección 2: Agregar pago -->
                            <div *ngIf="mostrarSeccion2" class="container mb-4">
                                <div class="row align-items-center">
                                <div class="col-md-4">
                                    <input type="number" class="form-control" placeholder="Monto" [(ngModel)]="rentAmmount">
                                </div>
                                <div class="col-md-4">
                                    <select [(ngModel)]="paymentTypeId">
                                        <option *ngFor="let option of tipoPagoList" [value]="option.value">
                                            {{ option.name }}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <button class="btn btn-success mx-2" (click)="mostrarConfirmacion = true">Agregar</button>
                                    <button class="btn btn-secondary" (click)="mostrarSeccion2 = false">Cancelar</button>
                                </div>
                                </div>
                                <div *ngIf="mostrarConfirmacion" class="text-center mt-3">
                                    <p>¿Confirmas agregar este pago de {{ rentAmmount | currency}} este pago para la empresa {{ this.selectedCompany?.name }}?</p>
                                    <button class="btn btn-success" (click)="addConfirmedPayment(); estadoProceso = 'Proceso completado'">Sí</button>
                                    <button class="btn btn-danger mx-3" (click)="mostrarConfirmacion = false">No</button>
                                </div>
                                <p class="text-center">{{estadoProceso}}</p>
                            </div>
                            
                            <!-- Sección 3: Historial de pagos -->
                            <div class="container">
                                <h3>Pagos</h3>
                                <table class="table">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Fecha</th>
                                        <th>Monto</th>
                                        <th>Descripción</th>
                                        <th>Estado</th>
                                        <th>Ingresó</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let pago of paymentHistory">
                                        <td>{{pago.id}}</td>
                                        <td>{{pago.referenceDate}}</td>
                                        <td>{{pago.amount}}</td>
                                        <td>{{pago.tipoRentaDesc }}</td>
                                        <td>{{pago.statusIdUI}}</td>
                                        <td>{{pago.byUserName}}</td>
                                    </tr>
                                </tbody>
                                </table>
                            </div>  
                            
                        </div>

                        <div class="tab-pane" [class.active]="activeTab === 'tab3'" id="tab3">
                    
                            <!-- Contenido para Tab 3 -->
                            <p>Contenido de Tab 3 aquí.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>