<form [formGroup]="settingsForm" (ngSubmit)="onSave()" class="container">
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="activarImpresionMobile" formControlName="activarImpresionMobile" />
    <label class="form-check-label" for="activarImpresionMobile">
      Activar Impresion M&oacute;vil
    </label>
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="activarImpresionWeb" formControlName="activarImpresionWeb" />
    <label class="form-check-label" for="activarImpresionWeb">
      Activar Impresion Web
    </label>
  </div>
  <div class="form-group">
    <div class="input-group-append mb-2">
      <label for="impresoraWeb">Impresora web</label>
      <button class="btn btn-outline-secondary ms-3" type="button" *ngIf="!navigationService.isMobile()" (click)="buscarImpresoras()">
        Buscar Impresoras
      </button>
    </div>
    <div class="input-group">
      <select *ngIf="isSearchingPrinters" id="printerList" formControlName="selectSelectedPrinter" class="form-select" (change)="setPrinter($event)">
        <option *ngFor="let option of printerList">
          {{ option }}
        </option>
      </select>
      <input type="text" class="form-control" id="impresoraWeb" formControlName="impresoraWeb" placeholder="Nombre de la impresora" />
    </div>
  </div>
  <div class="form-group mt-2">
    <label for="maxDaysToRefund">Días máximo para devolución:</label>
    <input type="number" class="form-control" id="maxDaysToRefund" formControlName="maxDaysToRefund" placeholder="Días" />
  </div>
  <div class="form-group align-items-start mt-2">
    <button type="submit" class="btn btn-primary">Guardar</button>
  </div>
</form>
