.loading-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
  }
  
.alert {
  position: fixed;
  z-index: 1080;
  top: 55px; /* Adjust this value based on the actual height of your navbar */
  
  width: 100%;
  padding-top: 0px;
}

.alert .btn-close {
  top: 50%;  /* Centers the button vertically */
  right: 0; /* Positions the button at the right edge */
  transform: translateY(-50%); /* Adjusts the button to be perfectly centered */
}
