.loading-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
  }
  
.alert {
  position: fixed;
  z-index: 1080;
  top: 55px; /* Adjust this value based on the actual height of your navbar */
  
  width: 100%;
  padding-top: 0px;
}

.alert .btn-close {
  top: 50%;  /* Centers the button vertically */
  right: 0; /* Positions the button at the right edge */
  transform: translateY(-50%); /* Adjusts the button to be perfectly centered */
}

.btn-outline-whatsapp {
  color: #25D366;
  border: 1px solid #fff;
  background-color: transparent;
  border-radius: 0.25rem;
  padding: 0.1rem 0.7rem;
  transition: background-color 0.3s, color 0.3s;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}
.btn-outline-whatsapp:hover,
.btn-outline-whatsapp:focus,
.btn-outline-whatsapp:active {
  background-color: #25D366;
  color: #fff;
  text-decoration: none;
}