<div class="container-fluid mt-1">
  <div class="row">
    <div class="col-12 d-flex justify-content-between align-items-center">
      <h5 class="my-3">Gestión de Productos</h5>
      <div class="hamburger-menu" (click)="toggleSearchPanel()">
          <div></div>
          <div></div>
          <div></div>
      </div>
    </div>
  </div>
    <div class="row">
      <div class="col-12 col-md-4 search-panel" [class.d-none]="isSearchPanelHidden">
        <div class="card">
          <div class="card-body">
            <h6 class="card-title">Buscar Productos</h6>
            <div class="input-group mb-3">
              <input type="text" class="form-control" [(ngModel)]="searchItem" placeholder="Buscar...">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)="searchProducts()" >Buscar</button>
              </div>
            </div>
            <ul class="list-group mt-3">
              <li *ngFor="let product of products" class="list-group-item list-group-item-action" (click)="selectProduct(product.productId)">
                {{ product.name }}
              </li>
            </ul>
            <div class="input-group mb-3">
              
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)="loadMore()">Cargar mas...</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12" [class.col-md-8]="!isSearchPanelHidden" [class.col-md-12]="isSearchPanelHidden">
        <div class="card">
          <div class="card-body">
            <h6 class="card-title">Detalles del Producto</h6>
            <form [formGroup]="productForm">
              <div class="form-row">
                <div class="form-group col-md-12 d-flex">
                  <div class="col-md-8 pr-2">
                      <label for="name">Nombre</label>
                      <input id="name" type="text" class="form-control required-input" formControlName="name">
                      <div *ngIf="productForm.get('name')?.invalid && productForm.get('name')?.touched" class="invalid-feedback">
                      Nombre es obligatorio.
                      </div>
                  </div>
                  <div class="col-md-4 d-flex align-items-end pl-2 mx-2">
                      <div class="form-check mb-2 ml-3 ">
                          <input id="discontinued" type="checkbox" class="form-check-input form-check-input-lg" formControlName="discontinued">
                          <label for="discontinued" class="form-check-label form-check-label-lg ml-1">Esta descontinuado</label>
                      </div>                      
                  </div>
                </div>
                    
                <div class="form-group">
                  <label for="description">Descripción</label>
                  <textarea id="description" class="form-control required-input" formControlName="description"></textarea>
                  <div *ngIf="productForm.get('description')?.invalid && productForm.get('description')?.touched" class="invalid-feedback">
                    Descripción es obligatorio.
                  </div>
                </div>
                <div class="form-group">
                  <label for="barcode">Código de Barras</label>
                  <input id="barcode" type="text" class="form-control required-input" formControlName="barcode">
                  <div *ngIf="productForm.get('barcode')?.invalid && productForm.get('barcode')?.touched" class="invalid-feedback">
                    Código de Barras es obligatorio.
                  </div>
                  <button type="button" class="btn btn-dark" (click)="setScannerStatus()">
                    {{scannerBtnLabel}}
                  </button>
                </div>

                <div class="form-group">
                  <label for="sku">Código SKU</label>
                  <input id="sku" type="text" class="form-control required-input" formControlName="sku">
                </div>

                <div class="form-group">
                  <label for="unitsInStock">Unidades en Stock</label>
                  <input id="unitsInStock" type="number" class="form-control required-input" formControlName="unitsInStock">
                  <div *ngIf="productForm.get('unitsInStock')?.invalid && productForm.get('unitsInStock')?.touched" class="invalid-feedback">
                    Unidades en Stock es obligatorio.
                  </div>
                </div>
                <div class="form-group">
                  <label for="buyPrice">Precio de Compra</label>
                  <input id="buyPrice" type="number" class="form-control required-input" formControlName="buyPrice" min="0.01" max="10000.00">
                </div>

                <div class="form-group">
                  <label for="unitPrice">Precio Unitario</label>
                  <input id="unitPrice" type="number" class="form-control required-input" formControlName="unitPrice" min="0.01" max="10000.00">
                  <div *ngIf="productForm.get('unitPrice')?.invalid &&productForm.get('unitPrice')?.touched" class="invalid-feedback">
                    Precio es obligatorio.
                  </div>
                </div>
                <div class="form-group">
                  <label for="unitPrice">Precio Cliente - 1</label>
                  <input id="unitPrice1" type="number" class="form-control" formControlName="unitPrice1" min="0.01" max="10000.00">
                </div>
                <div class="form-group">
                  <label for="unitPrice">Precio Cliente - 2</label>
                  <input id="unitPrice2" type="number" class="form-control" formControlName="unitPrice2" min="0.01" max="10000.00">
                </div>
                <div class="form-group">
                  <label for="unitPrice">Precio Cliente - 3</label>
                  <input id="unitPrice3" type="number" class="form-control" formControlName="unitPrice3" min="0.01" max="10000.00">
                </div>
              
                <div class="form-group">
                  <label for="size">Talla</label>
                  <select id="size" class="form-control" formControlName="size">
                    
                    <option value="Unitalla">Unitalla</option>
                    <option value="Chica">Chico</option>
                    <option value="Mediano">Mediano</option>
                    <option value="Grande">Grande</option>
                    <option value="ExtraGrande">Extra Grande</option>
                  </select>
                </div>
                
                <div class="form-group">
                  <label for="brand">Marca</label>
                  <input id="brand" type="text" class="form-control" formControlName="brand">
                </div>
                
                <div class="form-group">
                  <label for="color">Color</label>
                  <input id="color" type="text" class="form-control" formControlName="color">
                </div>

                <div class="form-group">
                  <label for="imgUrl">URL de Imagen</label>
                  <input id="imgUrl" type="text" class="form-control" formControlName="imgUrl">
                </div>
                <div class="d-flex justify-content-end my-3">
                  <button type="button" class="btn btn-primary mx-2 btn-floating-secondary" (click)="newProduct()">Nuevo</button>
                  <button type="button" class="btn btn-success btn-floating" (click)="saveProduct()">Guardar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="this.isScannerEnabled" class="modal d-flex justify-content-center align-items-center show" tabindex="-1" style="display: block; background: rgba(0, 0, 0, 0.5);">
    <div class="modal-dialog w-75 w-md-50 w-lg-50">
        <div class="modal-content">
            <div class="modal-body p-0">
            <zxing-scanner [formats]="allowedFormats" 
                [enable]="isScannerEnabled"
                (scanSuccess)="onCodeResult($event)">
            </zxing-scanner>
            </div>
        <button type="button" class="btn btn-primary" (click)="setScannerStatus()">
            {{scannerBtnLabel}}
        </button>
        </div>
    </div>
</div>

  