<div class="container-fluid mt-1">
  <div class="row">
    <div class="col-12 d-flex justify-content-start align-items-center">
      
      <div class="hamburger-menu" (click)="navigationService.toggleSearchPanel()">
          <div></div>
          <div></div>
          <div></div>
      </div>
      <h5 class="ms-2 mt-3">Gestión de Productos</h5>
    </div>
  </div>

    <div class="row">
      <div class="col-12 col-md-4 search-panel" [class.d-none]="navigationService.isSearchPanelHidden">
        <div class="card">
          <div class="card-body">
            <h6 class="card-title">Buscar Productos</h6>
            <div class="input-group mb-1">
              <input type="text" class="form-control" [(ngModel)]="navigationService.searchItem" placeholder="Buscar...">
              <div class="input-group-append">
                <button class="btn close-btn" type="button" (click)="navigationService.searchItem = ''; searchProducts()">
                  &times;
                </button>
                <button class="btn btn-outline-secondary" type="button" (click)="searchProducts()">
                  Buscar
                </button>
              </div>
            </div>
            <div class="input-group mb-1">
              <select [(ngModel)]="selectedCategoryId" id="selectedCategoryId" class="form-select me-1">
                <option *ngFor="let option of categoryList" [value]="option.categoryId">
                    {{ option.name }}
                </option>
              </select>
              <div class="input-group-append">
                <button class="btn close-btn" type="button" (click)="selectedCategoryId = 0; filterProducts()">
                  &times;
                </button>
                <button class="btn btn-outline-secondary" type="button" (click)="filterProducts()">
                  Filtrar
                </button>
              </div>
            </div>
            <ul class="list-group mt-3">
              <li *ngFor="let product of products" class="list-group-item list-group-item-action" (click)="selectProduct(product.productId)">
                {{ product.name }}
              </li>
            </ul>
            <div class="input-group mb-3">
              
              <div class="input-group-append">
                <button *ngIf="moreItems" class="btn btn-outline-secondary" type="button" (click)="loadMore()">Cargar mas...</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12" [class.col-md-8]="!navigationService.isSearchPanelHidden" [class.col-md-12]="navigationService.isSearchPanelHidden">
        <div class="card">
          <div class="card-body">
            <h6 class="card-title">Detalles del Producto</h6>
            <form [formGroup]="productForm">
              <div class="form-row">
                <div class="form-group mb-2">
                  
                      <label for="name">Nombre</label>
                      <input id="name" type="text" class="form-control required-input" formControlName="name">
                      <div *ngIf="productForm.get('name')?.invalid && productForm.get('name')?.touched" class="invalid-feedback">
                        Nombre es obligatorio.
                      </div>
                </div>
                <div class="form-group">
                  <div class="d-flex justify-content-end">
                    <label for="discontinued">
                      <input id="discontinued" type="checkbox" class="form-check-input form-check-input-lg" formControlName="discontinued">
                      Esta descontinuado
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <label for="barcode">Código de Barras</label>
                  <input id="barcode" type="text" class="form-control required-input" formControlName="barcode">
                  <div *ngIf="productForm.get('barcode')?.invalid && productForm.get('barcode')?.touched" class="invalid-feedback">
                    Código de Barras es obligatorio.
                  </div>
                 
                </div>

                <div class="form-group">
                  <label for="sku">Código SKU</label>
                  <input id="sku" type="text" class="form-control required-input" formControlName="sku">
                </div>

               
                <div class="form-group mb-1">
                  <label for="buyPrice">Precio de Compra</label>
                  <input id="buyPrice" type="number" class="form-control required-input" formControlName="buyPrice" min="0.01" max="10000.00">
                  <div *ngIf="productForm.get('buyPrice')?.invalid &&productForm.get('buyPrice')?.touched" class="invalid-feedback">
                    Precio de compra es obligatorio.
                  </div>
                </div>
                <div>
                  <label for="unitsInStock">Unidades Existentes/Stock</label>
                  <div class="d-flex col-md-4 form-group">
                    <label *ngIf="!showAddInventarioBox && this.selectedProduct != null" id="unitsInStock" type="number" class="form-control fake-disabled">
                      {{ productForm.get('unitsInStock')?.value }}
                    </label>
                    <input *ngIf="this.selectedProduct == null" id="unitsInStock" type="number" class="form-control" formControlName="unitsInStock" min="0.01" max="10000.00">
                    <input *ngIf="showAddInventarioBox" class="bg-warning" formControlName="addToInventoryVal" type="number" min="1" max="1000000">
                    <button *ngIf="this.selectedProduct" class="ms-2 btn btn-primary" [ngClass]="{'btn-success': showAddInventarioBox}"
                        (click)="openCaptureInventory()" >{{showAddInventarioBox ? "Actualizar" : "Agregar"}}</button>
                    
                  </div>
                </div>
                <div>
                  <label for="categoryId">Categoria</label>
                  <div class="col-lg-4 col-md-6 col-12">
                    <select formControlName="categoryId" id="categoryId" class="form-select">
                        <option *ngFor="let option of categoryList" [value]="option.categoryId">
                            {{ option.name }}
                        </option>
                    </select>
                  </div>
                </div>
                <hr>
                <div class="d-flex justify-content-center align-items-center">
                  <strong>Precios Venta</strong>
                </div>
                <div class="form-group">
                  <label for="unitPrice">Precio General/Precio Unitario</label>
                  <input id="unitPrice" type="number" class="form-control required-input" formControlName="unitPrice" min="0.01" max="10000.00">
                  <div *ngIf="productForm.get('unitPrice')?.invalid &&productForm.get('unitPrice')?.touched" class="invalid-feedback">
                    Precio unitario es obligatorio.
                  </div>
                </div>
                <div class="form-group">
                  <label for="unitPrice">Precio Cliente - 1</label>
                  <input id="unitPrice1" type="number" class="form-control" formControlName="unitPrice1" min="0.01" max="10000.00">
                </div>
                <div class="form-group">
                  <label for="unitPrice">Precio Cliente - 2</label>
                  <input id="unitPrice2" type="number" class="form-control" formControlName="unitPrice2" min="0.01" max="10000.00">
                </div>
                <div class="form-group">
                  <label for="unitPrice">Precio Cliente - 3</label>
                  <input id="unitPrice3" type="number" class="form-control" formControlName="unitPrice3" min="0.01" max="10000.00">
                </div>
                <hr>
               
                <div class="form-group col-md-6">
                  <label for="lowInventoryStart">Alertar baja existencia de productos a partir de</label>
                  <input id="lowInventoryStart" type="number" class="form-control" min="0" formControlName="lowInventoryStart">
                  <div *ngIf="productForm.get('lowInventoryStart')?.invalid &&productForm.get('lowInventoryStart')?.touched" class="invalid-feedback">
                    La alerta de inventario bajo debe ser mayor o igual a cero.
                  </div>
                </div>
                <div class="form-group">
                  <label for="description">Notas del producto</label>
                  <input id="description" type="text" class="form-control" formControlName="description">
                  
                </div>
                <div class="d-flex justify-content-end my-3">
                  <button type="button" class="btn btn-primary mx-2 btn-floating-secondary"
                   (click)="newProduct()" *ngIf="this.userState.roleId > rol.User">Nuevo</button>
                  <button type="button" class="btn btn-success btn-floating"
                   (click)="saveProduct()" *ngIf="this.userState.roleId > rol.User">Guardar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
 

  