<div class="form-container">
  <h2 class="title">Responde las siguientes preguntas</h2>

  <div *ngIf="loading" class="message">
    <span class="form-label">Cargando preguntas...</span>
  </div>



  <form [formGroup]="form" (ngSubmit)="submitAnswers()" class="form">
    <div *ngFor="let q of questions; index as i" class="form-group">
      <label class="form-label">{{ q }}</label>
      <div class="radio-group">
        <label class="radio-option yes">
          <input type="radio" [formControlName]="'respuesta' + i" value="si" />
          <span class="custom-radio"></span>
          Sí
        </label>
        <label class="radio-option no">
          <input type="radio" [formControlName]="'respuesta' + i" value="no" />
          <span class="custom-radio"></span>
          No
        </label>
      </div>
    </div>
    <button type="submit" class="submit">Enviar</button>
  </form>
</div>
